::ng-deep .ant-card {
    margin-top: 0px;
    margin-bottom: 5px;
}

::ng-deep .ant-card-body {
    padding: 0px;
}

.first-th, .first-td {
    padding-left: 30px;
}

.vertical-line {
    border-right: 1px solid #e8e8e8;
}

i {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}