<nz-tabset nzTabPosition="top" nzType="card" >
    <nz-tab nzTitle="Profesor">
        <form nz-form [formGroup]="formaLogin" (ngSubmit)="login()" autocomplete="off">
            <div class="inputs">
                <label>RUT</label>
                <input type="text" nz-input formControlName="rut" placeholder="RUT" />
                <label>Contraseña</label>
                <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
                <nz-alert *ngIf="loginError" class="error" nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
            </div>
            <button type="submit" nz-button nzSize="large" nzType="primary">
                <i class="icon-login" nz-icon [nzType]="loginIcon" nzTheme="outline"></i>
                Iniciar Sesión
            </button>
            <a class="underlineHover" href="#">¿Olvidaste tu Contraseña?</a>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Estudiante">
        <form (ngSubmit)="loginCode()" [formGroup]="formaCode" autocomplete="off">
            <div class="inputs">
                <label>Ingrese el código de acceso</label>
                <input type="text" nz-input formControlName="code" placeholder="Código" (keyup)="setUpperCase($event)" />
            </div>
            <button type="submit" nz-button nzSize="large" nzType="primary" (click)="loginCode()"
                [disabled]="formaCode.invalid">
                <i class="icon-login" nz-icon [nzType]="codeIcon" nzTheme="outline"></i>
                Iniciar sesión
            </button>
        </form>
    </nz-tab>
</nz-tabset>