<nz-layout *ngIf="leccion != null && loading == false" style="height: 100vh;">
    <nz-sider class="lesson-sidebar" nzWidth="310px" [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'md'"
        [nzCollapsedWidth]="0" nzTheme="light">
        <div class="lessons">Lecciones</div>
        <div nz-row nzAlign="middle" *ngFor="let lesson of lecciones; let i = index" class="container-lessons-videos">
            <nz-card [nzCover]="coverTemplate" style="margin-bottom: 18px" class="nz-card-lesson-title">
                <p class="truncar-texto" style="margin-top: 5px;">{{ lesson.bloque_titulo }} </p>
            </nz-card>
            <ng-template #coverTemplate class="contenedor">
                <div (click)="goToLesson(lesson)">
                    <img alt="example" [src]="lesson.bloque_imagen" style="cursor: pointer" />
                    <button class="btn btnPlay-leccion">
                        <i class="far fa-play-circle"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-sider>
    <div *ngIf="isCollapsed" class="drawer-button pointer" (click)="visibleDrawer = true">
        <div class="drawer-container">
            <img class="drawer-img" src="../../../../../../assets/images/student/lecciones.png">
            <div class="centered">Lecciones</div>
          </div>
    </div>
    <nz-layout>
        <nz-content>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="18" nzXXl="18" style="margin-top: 80px;">
                    <div class="video" [innerHtml]="iframeHtml"></div>
                    <h3 *ngIf="leccion != null" class="lesson-title">{{leccion.bloque_titulo}}</h3>
                </div>
                <div class="inner-content-right border-full" nz-col nzXs="24" nzSm="12" nzMd="24" nzLg="24" nzXl="6"
                    nzXXl="6">
                    <div nz-row>
                        <div class="border-bottom" nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="15" nzXl="24">
                            <div class="layout-right-title text-center">
                                Material de apoyo
                            </div>
                            <div class="layout-right-content">
                                <ul>
                                    <li *ngFor="let repositorio of repositorios; let i = index">
                                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                                            <div nz-col nzSpan="6">
                                                <nz-avatar [nzSize]="64" [nzIcon]="repositorio.tipo_repositorio_icono" [style]="'background-color: transparent; color: ' + repositorio.tipo_repositorio_color "></nz-avatar>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <p class="negrita">{{ repositorio.repositorio_name }}</p>
                                                <p class="descripcion-documento">{{ repositorio.tipo_repositorio_name }}</p>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <button  style="color: blue; float: right; " nz-button nzType="link" nzSize="large" (click)="descargarArchivo(repositorio.repositorio_ruta)">
                                                    <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                       <!-- <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                                            <div nz-col nzSpan="4">
                                                <i class="fas fa-file-pdf" style="color: red; font-size: 32px"></i>
                                            </div>
                                            <div nz-col nzSpan="16">
                                                <p class="negrita">Nombre del documento</p>
                                                <p class="descripcion-documento">Archivo del sistema</p>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <button style="color: blue; float: right; " nz-button nzType="link"
                                                    nzSize="large">
                                                    <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
                                                </button>
                                            </div>
                                        </div> -->
                                </ul>
                            </div>
                        </div>
                        <div class="layout-play" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="9" nzXl="24">
                            <img class="button-play" src="../../../../../assets/images/student/boton-jugar.png" alt=""
                                (click)="goToGame()">
                        </div>
                    </div>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<nz-layout *ngIf="lecciones.length == 0 && loading == false" style="height: 100vh; padding-top: 64px;">
    <div class="lesson-not-found"></div>
</nz-layout>

<ng-template [ngIf]="isCollapsed">
    <nz-drawer [nzClosable]="true" [nzVisible]="visibleDrawer" nzWidth="310px" nzPlacement="left" nzTitle="Lecciones"
        (nzOnClose)="visibleDrawer = false">
        <div class="lessons" style="margin-top: 20px;">Lecciones</div>
        <div nz-row nzAlign="middle" *ngFor="let lesson of lecciones; let i = index" class="container-lessons-videos">
            <nz-card [nzCover]="coverTemplate" style="margin-bottom: 18px">
                <p class="truncar-texto" style="margin-top: 5px;">{{ lesson.bloque_titulo }} </p>
            </nz-card>
            <ng-template #coverTemplate class="contenedor">
                <div (click)="goToLesson(lesson)">
                    <img alt="example" [src]="lesson.bloque_imagen" style="cursor: pointer" />
                    <button class="btn btnPlay-leccion">
                        <i class="far fa-play-circle"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-drawer>
</ng-template>
