<nz-layout *ngIf="leccion != null && loading == false" style="height: 100vh;">
    <nz-sider class="lesson-sidebar" nzWidth="310px" [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'md'"
        [nzCollapsedWidth]="0" nzTheme="light">
        <div nz-row>
            <div nz-col nzSpan="20" class="lessons" (click)="reproducir('6.wav')">Lecciones</div>
            <div nz-col nzSpan="4"><button nz-button nzType="primary" nzShape="circle" (click)="reproducir('6.wav')"><i nz-icon nzType="sound"></i></button></div>
        </div>
        <div nz-row nzAlign="middle" *ngFor="let lesson of lecciones; let i = index" class="container-lessons-videos">
            <nz-card [nzCover]="coverTemplate" style="margin-bottom: 18px" class="nz-card-lesson-title">
                <p class="truncar-texto" style="margin-top: 5px;">{{ lesson.bloque_titulo }} </p>
            </nz-card>
            <ng-template #coverTemplate class="contenedor">
                <div (click)="goToLesson(lesson)">
                    <img alt="example" [src]="lesson.bloque_imagen" style="cursor: pointer" />
                    <button class="btn btnPlay-leccion">
                        <i class="far fa-play-circle"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-sider>
    <div *ngIf="isCollapsed" class="drawer-button pointer" (click)="visibleDrawer = true">
        <div class="drawer-container">
            <img class="drawer-img" src="../../../../../../assets/images/student/lecciones.png">
            <div class="centered">Lecciones</div>
          </div>
    </div>
    <nz-layout>
        <nz-content>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="18" nzXXl="18" style="margin-top: 80px;">
                    <div class="video" [innerHtml]="iframeHtml"></div>
                    <h3 *ngIf="leccion != null" class="lesson-title">{{leccion.bloque_titulo}} </h3>
                  <!--  <button nz-button nzType="primary" nzShape="circle" (click)="reproducir()"><i nz-icon nzType="sound"></i></button> -->
                </div>
                <div class="inner-content-right border-full" nz-col nzXs="24" nzSm="12" nzMd="24" nzLg="24" nzXl="6"
                    nzXXl="6">
                    <div nz-row>
                        <div class="border-bottom" nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="15" nzXl="24">
                            <div class="layout-right-title text-center">
                                Material de apoyo
                                <button nz-button nzType="primary" nzShape="circle" (click)="reproducir('2.wav')"><i nz-icon nzType="sound"></i></button>
                            </div>
                            <div class="layout-right-content">
                                <ul>
                                    <li *ngFor="let repositorio of repositorios; let i = index" class="mb-3">
                                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                                            <div nz-col nzSpan="6">
                                                <i nz-icon [nzType]="repositorio.tipo_repositorio_icono" nzTheme="fill" [style]="'font-size: 32px;color: ' + repositorio.tipo_repositorio_color"></i>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <p class="negrita">{{ repositorio.repositorio_name }}</p>
                                                <p class="descripcion-documento">{{ repositorio.tipo_repositorio_name }}</p>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <button  style="color: #56CCF2; float: right; " nz-button nzType="link" nzSize="large" (click)="descargarArchivo(repositorio.repositorio_ruta)">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <button nz-button nzType="link" (click)="openModal('repositorio')" style="float: right">Ver más...</button>
                            </div>
                        </div>
                        <div class="layout-play" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="9" nzXl="24">
                            <img class="button-play" src="../../../../../assets/images/student/boton-jugar.png" alt=""
                                (click)="goToGame()">
                            <button nz-button nzType="primary" nzShape="circle" (click)="reproducir('9.wav')" style="float: right"><i nz-icon nzType="sound"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<nz-layout *ngIf="lecciones.length == 0 && loading == false" style="height: 100vh; padding-top: 64px;">
    <div class="lesson-not-found"></div>
</nz-layout>

<ng-template [ngIf]="isCollapsed">
    <nz-drawer [nzClosable]="true" [nzVisible]="visibleDrawer" nzWidth="310px" nzPlacement="left" nzTitle="Lecciones"
        (nzOnClose)="visibleDrawer = false">
        <div class="lessons" style="margin-top: 20px;">Lecciones</div>
        <div nz-row nzAlign="middle" *ngFor="let lesson of lecciones; let i = index" class="container-lessons-videos">
            <nz-card [nzCover]="coverTemplate" style="margin-bottom: 18px">
                <p class="truncar-texto" style="margin-top: 5px;">{{ lesson.bloque_titulo }} </p>
            </nz-card>
            <ng-template #coverTemplate class="contenedor">
                <div (click)="goToLesson(lesson)">
                    <img alt="example" [src]="lesson.bloque_imagen" style="cursor: pointer" />
                    <button class="btn btnPlay-leccion">
                        <i class="far fa-play-circle"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-drawer>
</ng-template>


<nz-modal [(nzVisible)]="modalRepositorio" nzWrapClassName="vertical-center-modal" nzTitle="Repositorio"
          nzCancelText="Cancelar" [nzContent]="modalContentRepositorio" nzWidth="1000"
          (nzOnCancel)="closeModal('repositorio')" [nzFooter]=null>
    <ng-template #modalContentRepositorio style="background-color: rgba(0, 0, 0, 0.65);">
        <h6 class="mb-3">Repositorio del sistema</h6><nz-divider></nz-divider>
        <div class="content-sistema" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24, xl: 24, xxl: 24 }">
            <div class="mr-auto" nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="4" nzXXl="4"
                 *ngFor="let repositorio of repositoriosSistema; let i = index">
                <nz-card  class="mr-auto p-0 card" style="padding: 0">
                    <div class="" nz-row >
                        <div class="content-icono text-center pt-3 pb-3" nz-col nzSpan="24">
                            <i style="font-size: 40px" nz-icon [nzType]="repositorio.tipo_repositorio_icono" nzTheme="twotone" [nzTwotoneColor]="repositorio.tipo_repositorio_color"></i>
                        </div>
                        <div class="text-center" nz-col nzSpan="24">
                            <p class="negrita truncar-texto " style="font-size: 11px">{{ repositorio.repositorio_name }}</p>
                        </div>
                        <div class="text-right pb-2" nz-col nzSpan="24">
                            <button  style="color: blue; float: right; " nz-button nzType="link" nzSize="small" (click)="descargarArchivo(repositorio.repositorio_ruta)">
                                <span style="font-size: 10px">Descargar</span><i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
        <h6 class="mb-3">Repositorio del profesor</h6><nz-divider></nz-divider>
        <div class="content-profesor" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24, xl: 24, xxl: 24 }">
            <div class="mr-auto content-repositorio-profesor" nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="4" nzXXl="4"
                 *ngFor="let repositorio of repositoriosProfesor; let i = index">
                <nz-card  class="mr-auto p-0 card" style="padding: 0">
                    <div class="" nz-row >
                        <div class="content-icono text-center pt-3 pb-3" nz-col nzSpan="24">
                            <i style="font-size: 40px" nz-icon [nzType]="repositorio.tipo_repositorio_icono" nzTheme="twotone" [nzTwotoneColor]="repositorio.tipo_repositorio_color"></i>
                        </div>
                        <div class="text-center" nz-col nzSpan="24">
                            <p class="negrita truncar-texto " style="font-size: 11px">{{ repositorio.repositorio_name }}</p>
                        </div>
                        <div class="text-right pb-2" nz-col nzSpan="24">
                            <button  style="color: blue; float: right; " nz-button nzType="link" nzSize="small" (click)="descargarArchivo(repositorio.repositorio_ruta)">
                                <span style="font-size: 10px">Descargar</span><i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </ng-template>
    <ng-template #modalFooterRepositorio style="border-bottom: 4px solid #009dee;">
        <button nz-button nzSize="large" style="background-color: #e8e8e8;"
                (click)="closeModal('repositorio')">Cancelar</button>

    </ng-template>
</nz-modal>
