[nz-icon] {
    vertical-align: 2px!important;
}

.modal-container {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    margin-left: 50px!important;
    margin-right: 50px!important;
}

label {
    display: block;
    margin-top: 5px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .modal-container {
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
}

[nz-row] {
    margin: 5px;
    font-size: 16px;
}

.check-icon {
    font-size: 100px;
    color: #16c961;
}

