<button type="button" nz-button nzSize="large" nzType="primary" (click)="openModal('create')">
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  Generar Evaluación
</button>

<nz-modal [(nzVisible)]="modalCreate" nzWrapClassName="vertical-center-modal" nzTitle="Nueva Evaluación SIMCE"
  nzOkText="Enviar" nzCancelText="Cancelar" [nzContent]="modalContent" [nzFooter]="modalFooter" nzWidth="720"
  (nzOnCancel)="closeModal('create')">
  <ng-template #modalContent>
    <form [formGroup]="createForm" autocomplete="off">
      <div class="modal-container">
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Tipo de SIMCE</label>
          </div>
          <div nz-col nzSpan="16">
            <nz-select formControlName="tipo" class="w-100" nzAllowClear nzPlaceHolder="Seleccione Tipo SIMCE"
              (ngModelChange)="getValidCourses()">
              <nz-option *ngFor="let simce of simceTypes; let i = index" [nzValue]="simce"
                [nzLabel]="simce.simce_descripcion">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Curso</label>
          </div>
          <div nz-col nzSpan="16">
            <nz-select formControlName="curso" class="w-100" nzAllowClear nzPlaceHolder="Seleccione un Curso">
              <nz-option *ngFor="let curso of cursos; let i = index" [nzValue]="curso.id"
                [nzLabel]="curso.curso_nombre">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Nota mínima</label>
          </div>
          <div nz-col nzSpan="16">
            <nz-select formControlName="nota_minima" class="w-100" nzAllowClear nzPlaceHolder="Nota mínima">
              <nz-option *ngFor="let nota of notasMinimas; let i = index" [nzValue]="nota" [nzLabel]="nota">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Exigencia</label>
          </div>
          <div nz-col nzSpan="16">
            <nz-slider formControlName="exigencia" [nzMarks]="marks" (ngModelChange)="setMarks()" ></nz-slider>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzSize="large" style="background-color: #e8e8e8;" (click)="closeModal('create')">Cancelar</button>
    <button nz-button nzSize="large" nzType="primary" (click)="createEvaluation()" [disabled]="createForm.invalid">
      Generar
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="modalEvaluationDetail" nzWrapClassName="vertical-center-modal"
  nzTitle="Detalles de la Evaluación" [nzContent]="modaltDetailContent" [nzFooter]="modalDetailFooter" nzWidth="720"
  (nzOnCancel)="closeModal('detail')">
  <ng-template #modaltDetailContent>
    <div nz-row>
      <div nz-col nzSpan="8" class="text-center">
        <i nz-icon nzType="check-circle" class="check-icon" nzTheme="fill"></i>
      </div>
      <div nz-col nzSpan="16" *ngIf="evaluation != null">
        <div nz-row>
          <div nz-col nzSpan="12">
            <label>ID Evaluación</label>
          </div>
          <div nz-col nzSpan="12">
            <label>{{ evaluation.prueba_id }}</label>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <label>Tipo de SIMCE</label>
          </div>
          <div nz-col nzSpan="12">
            <label>{{ evaluation.simce_descripcion }}</label>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <label>Curso</label>
          </div>
          <div nz-col nzSpan="12">
            <label>{{ evaluation.curso_nombre }}</label>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <label>Número de Preguntas</label>
          </div>
          <div nz-col nzSpan="12">
            <label>{{ evaluation.numero_preguntas }}</label>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <label>Código de Acceso</label>
          </div>
          <div nz-col nzSpan="12">
            <label>{{ evaluation.codigo }}</label>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalDetailFooter>
    <button nz-button nzSize="large" (click)="verPrueba(evaluation)">Ver Preguntas</button>
    <button nz-button nzSize="large" (click)="closeModal('detail')" nzType="primary">
      Cerrar
    </button>
  </ng-template>
</nz-modal>