.bg-green {
    background-color: #008c99;
}

.bg-gray {
    background-color: #bdbdbd !important;
}

.bg-white {
    background-color: #ffffff;
}

.bg-blue { 
    background-color: #2f80ed;
}
.bg-subheader {
    background-color: #e9e9e9;
}