.card-content {
  padding: 12px;
  background: #fff;
  height: auto;
  box-shadow: 3px 4px 7px -2px grey;
  border-radius: 4px;
  max-height: 265px;
  min-height: 265px;
}
.card-content ul {
  max-height: 195px;
  min-height: 195px;
  overflow: auto;
}

.card-content-steps {
  padding: 12px;
  background: #fff;
  height: auto;
  box-shadow: 3px 4px 7px -2px grey;
  border-radius: 3px;
}

.footerUnity {
  position: relative;
  bottom: 0;
}