.c-green {
    color: #008c99 !important; 
}

.icon-result {
    color: #5c5c5c;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 9px;
    font-size: 18px;
}

.icon-text {
    font-size: 20px;
    color: #ffffff;
}