::ng-deep nz-header {
    position: fixed !important;
    top: 0 !important;
    z-index: 1050 !important;
    width: 100% !important;
}

.ant-layout-header,
.ant-menu-dark {
    background-color: #2f80ed !important;
}

.bg-logo {
    background-color: #4f4f4f;
}

.ant-layout-header {
    padding: 0px 15px !important;
    position: fixed;
    z-index: 1050;
    width: 100%;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
    font-size: 18px;
    padding: 0px 20px;
}