.menu-sidebar {
  position: relative !important;
  z-index: 10 !important;
  min-height: calc(100vh - 48px);
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35) !important;
  background-color: #ffffff;
  margin-top: 48px;
}

.menu-sidebar .ant-layout-sider-children {
  position: fixed;
  width: 180px;
}

.submenu-sidebar-asignatura {
  position: relative !important;
  z-index: 10 !important;
  min-height: 100vh !important;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35) !important;
  background-color: #ffffff;
  margin-top: 48px;
}

.submenu-sidebar-asignatura .ant-layout-sider-children {
  position: fixed;
  width: inherit;
  padding-left: 0px;
  padding-right: 0px;

  .ant-menu-inline .ant-menu-item {
    height: 30px !important;
    line-height: 20px !important;
    font-size: 10px !important;
    margin-top: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.submenu-sidebar-reportes {
  position: relative !important;
  z-index: 10 !important;
  min-height: 100vh !important;
  background-color: #e0e0e0;
  margin-top: 48px;
  height: auto !important;
}

.ant-menu-item-group-title {
  font-size: 10px !important;
  padding-left: 42px;
  padding-top: 35px;
}

.ant-menu-item {
  padding-left: 10px !important;
}

.ant-menu-submenu-title {
  padding-left: 10px !important;
  font-size: 12px !important;
}

.ant-menu-submenu-selected {
  color: #000000;
  border-top: 1px solid #a4a4a4 !important;
  border-bottom: 1px solid #a4a4a4 !important;
  background: #e9e9e9!important;
}

.ant-menu-submenu-selected > .ant-menu {
  background: #e9e9e9!important;
}

.ant-menu-submenu-open.ant-menu-submenu-selected > .ant-menu-submenu-title {
  border-bottom: 1px solid #a4a4a4 !important;
}



/*.ant-menu-submenu > .ant-menu {
  background: #e9e9e9;
}
*/
.ant-menu-inline .ant-menu-item {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 10px !important;
  margin-top: 0px !important;
}

@media screen and (max-width: $mobile-style) {
  .ant-menu-inline .ant-menu-item {
    font-size: 10px !important;
    line-height: 30px !important;
  }
  .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: calc(100%)!important;
  }
}