.user-header {
    height: 48px!important;
}

.header-logo-img {
    margin: 4px auto;
    height: 40px;
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #ffffff;
    transition: all .3s;
}

.sidebar-logo img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 5px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.user-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 48px;

}

.user-picture {
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 374px) {
    .user-picture {
        display: none!important;
    }
}

.user-picture.initials {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info-container {
    margin-left: .5rem;
}

.user-name {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #ffffff;
}

.user-title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: 400;

}

.dropdown-toggle::after {
display: none !important;
}

.dropdown-menu {
    //transform: translate3d(857px, 51px, 0px) !important;
    margin-top: 12px;
}

.dropdown-item {
    display: block !important;
    width: 100% !important;
    padding: .25rem 1.5rem !important;
    clear: both !important;
    font-weight: 400 !important;
    color: #212529 !important;
    text-align: inherit !important;
    white-space: nowrap !important;
    background-color: transparent !important;
    border: 0 !important;
    line-height: 14px;
    font-size: 12px;
}