<nz-header class="user-header">
    <div class="row">
        <div class="col bg-logo" style="max-width:180px">
            <div class="row">
                <div *ngIf="isDrawer" id="colCollapse" class="col-2 px-0">
                    <button class="btn btn-drawer" (click)="collapseMenu()">
                        <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    </button>
                </div>
                <div class="col pl-0 d-block my-auto">
                    <div class="logo">
                        <img height="34" src="../../../../../assets/images/logo/kids-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-block my-auto">
            <div class="user-container btn-group">
                <div class="user-picture initials ml-auto">
                    {{ siglas }}
                </div>
                <div class="info-container dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="user-name">
                        <a>
                            {{ userName }}
                            <i nz-icon nzType="caret-down" nzTheme="outline"></i>
                        </a>
                    </div>
                </div>

                <div class="dropdown-menu">
                    <a *ngIf="roles.length > 1" class="dropdown-item" (click)="openModal('roles')">Cambiar Rol</a>
                    <div *ngIf="roles.length > 1" class="dropdown-divider"></div>
                    <a *ngIf="establecimientos.length > 1" class="dropdown-item" (click)="openModal('establecimientos')">Cambiar Establecimiento</a>
                    <div *ngIf="establecimientos.length > 1" class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</nz-header>
<nz-modal [(nzVisible)]="modalRoles" nzTitle="Cambiar Rol" nzCancelText="Cancelar" nzOkText="Cambiar"
    (nzOnCancel)="closeModal('roles')"
    (nzOnOk)="cambiarRol()">
    <nz-radio-group [(ngModel)]="rolId">
        <label *ngFor="let rol of roles" nz-radio [nzValue]="rol.id">{{ rol.rol_nombre }}</label>
    </nz-radio-group>
</nz-modal>
<nz-modal [(nzVisible)]="modalEstablecimientos" nzTitle="Cambiar Establecimiento" nzCancelText="Cancelar" nzOkText="Cambiar"
    (nzOnCancel)="closeModal('establecimientos')" 
    (nzOnOk)="cambiarEstablecimiento()">
    <nz-radio-group [(ngModel)]="establecimientoId">
        <label *ngFor="let establecimiento of establecimientos" nz-radio [nzValue]="establecimiento.id">{{ establecimiento.establecimiento_nombre }}</label>
    </nz-radio-group>
</nz-modal>