<div class="fondo" *ngIf="step == 'pivot'">
  <div class="titulo-acamykids estilo-letra">ACAMYKIDS</div>
  <div class="nivel color-letra alineado estilo-letra">{{data.nivel_descripcion}}</div>
  <div class="establecimiento color-letra alineado estilo-letra">
    <div>{{data.establecimiento_nombre}}</div>
  </div>
  <div class="estudiante color-letra alineado mb-3">Bienvenido, {{nombreEstudiante}}</div>
  <div class="alineado pb-3">
    <button  type="button" class="btn-lg azul size-button" (click)="goLecciones()"><i class="fas fa-book pt-1" style="float: left" ></i><strong> Lecciones</strong> </button>
  </div>
  <div class="alineado pb-3">
    <button  type="button" class="btn-lg amarillo size-button" (click)="goToGame()"><i class="fas fa-gamepad pt-1" style="float: left"></i><strong> Juegos</strong> </button>
  </div>
  <div class="alineado pb-3">
    <button  type="button" class="btn-lg naranjo size-button"(click)="goSimce()" ><i class="fas fa-file pt-1" style="float: left"></i><strong> Simce</strong> </button>
  </div>
</div>

<div class="fondo-lecciones" *ngIf="step == 'lecciones' ">
  <div class="titulo-lecciones estilo-letra">Asignaturas<button nz-button nzType="primary" style="float:right" (click)="goPivot()"><i nz-icon nzType="left" class="pt-1"></i>Volver</button></div>
  <div nz-row >
    <div class="pt-4" *ngFor="let asignatura of data.asignaturas; let i = index" nz-col nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8">
      <div class="p-4 bloque" [style]="'background-color: #' + asignatura.materia_color" (click)="goToLesson(asignatura.asignatura_id)">
        <div class="materia estilo-letra alineado">{{asignatura.materia_descripcion}}</div>
      </div>

    </div>
  </div>
</div>

<div class="fondo" *ngIf="step == 'simce'">
  simce

</div>
