.title-sider-repo {
    font-size: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-style: oblique;
}

.title-filter-repo {
    font-size: 11px;
    padding-top: 15px;
    color: #000000;
    border-bottom: #bfbebe  1px solid;
    margin-right: 45px;
    padding-left: 10px;
}

.bd-bottom {
    border-bottom: #bfbebe  1px solid;
}

.title-repo {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.title-repo-curso {
    color: #828282;
    font-size: 14px;
    font-weight: bold;
}

.subtitle-repo {
    color: #828282;
    font-size: 10px;
    font-weight: 500;
}

.sidebar-repo-r {
    border-right: 1px solid #c4c4c4 !important;
}

.menureport {
    background-color: transparent !important;    
    .ant-menu-item {
        padding-left: 24px !important;
    }
    .ant-menu-item-selected {
        background-color: #c4c4c4 !important;
        font-weight: bold;
        border-left: 3px solid #1890ff;
    }

    .ant-menu-item:after {
        border-right: 0px solid #1890ff;
        
    }
}
::ng-deep nz-spin .ant-spin-lg .ant-spin-dot {
    font-size: 152px !important;
}
::ng-deep nz-spin .ant-spin-lg .ant-spin-dot i {
    height: 60px;
    width: 60px;
}

$mobile-style: 860px;
::ng-deep app-objetivos {
    width: 100% !important;
}

.headerrepos {
    height: -webkit-fill-available;
    width: calc(100% - 200px);
    float: left;
}

@media screen and (max-width: $mobile-style) {
    .headerrepos {
        width: calc(100% - 150px) !important;
    }
}

.filtrosrepo {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    right: 0;
    float: right;
    margin-top: 0px !important;
    top: 0px;
}

@media screen and (max-width: $mobile-style) {
    .filtrosrepo {
        flex: 0 0 150px;
        max-width: 150px;
        min-width: 150px;
        width: 150px;
  }
}

.sidebar-repo-l {
    border-left: 1px solid #c4c4c4 !important;
}

.title-repo {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.title-repo-curso {
    color: #828282;
    font-size: 14px;
    font-weight: bold;
}

.subtitle-repo {
    color: #828282;
    font-size: 10px;
    font-weight: 500;
}

.point-repo {
    color: #2f80ed !important;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0px;
}

.bg-estadisticas {
    background-color: #f2f2f2;
}

.title-point-repo {
    font-weight: 500;
}

::ng-deep nz-card {
    box-shadow: 3px 4px 7px -2px grey;
}

.card-point {
    box-shadow: 3px 4px 7px -2px grey;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.card-title-point {
    box-shadow: 3px 4px 7px -2px grey;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

.bg-blue-clear {
    background-color: #56ccf2 !important;
    h3 {
        color: #4f4f4f !important;
        font-weight: 500 !important;
    }
    label {
        color: #ffffff !important;
        font-size: 12px !important;
        font-weight: 400 !important;
    }
}

.card-stats-repo {
    min-height: 270px;
    max-height: 270px;
    height: 270px;

    ul>li {
        min-height: 90px;
    }
}

.title-piechart {
    color: #c5c5c5;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 10px;
}

.form-control {
    padding: .275rem .5rem !important;
    font-size: 10px !important;
}

.title-sider-repo {
    font-size: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-style: oblique;
    border-bottom: #bfbebe  1px solid;
}