<nz-layout class="left-layout">
    <nz-sider class="submenu-sidebar-reportes mt-0 pt-3 pl-0 sidebar-repo-r" [nzZeroTrigger]="zeroTrigger" [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="widthSidebar">
        <p class="title-sider-repo">Filtros Globales</p>
        <p class="title-filter-repo ml-3">Cursos</p>
        <ul class="menureport" nz-menu nzMode="inline">
            <li *ngFor="let c of cursos; let iCurso = index" [ngClass]="{'ant-menu-item-selected': iCurso=='0'}" nz-menu-item nzMatchRouter (click)="selectCourse(c)"
                style="padding-left: 30px !important;">
                <span>{{ c.nivel_descripcion }}</span>
            </li>
            <li *ngIf="cursos?.length == 0" nz-menu-item nzMatchRouter style="padding-left: 30px !important;">
                <span>Obteniendo Cursos <i class="fas fa-spinner fa-spin"></i></span>
            </li>   
        </ul>
        <p class="title-filter-repo ml-3">Asignatura</p>
        <ul class="menureport" nz-menu nzMode="inline">
            <li *ngFor="let a of asignaturas; let iAsignatura = index" [ngClass]="{'ant-menu-item-selected': iAsignatura=='0'}" nz-menu-item nzMatchRouter (click)="selectAsignature(a)"
                style="padding-left: 30px !important;">
                <span>{{ a.asignatura_nombre }}</span>
            </li>
            <li *ngIf="asignaturas?.length == 0" nz-menu-item nzMatchRouter
                style="padding-left: 30px !important;">
                <span>Obteniendo Asignaturas <i class="fas fa-spinner fa-spin"></i></span>
            </li>
        </ul>
    </nz-sider>
    <ng-template #zeroTrigger>
        <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
      </ng-template>
    <div class="w-100 text-center d-block my-auto" *ngIf="reportePage == 0">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        <br>
        <h3 class="c-blue">Cargando ...</h3>
    </div>
    <app-objetivos *ngIf="reportePage == 1" [selectCurso]="selectCurso" [selectAsignatura]="selectAsignatura"></app-objetivos>
    <app-actividades *ngIf="reportePage == 2" [selectCurso]="selectCurso" [selectAsignatura]="selectAsignatura"></app-actividades>
    <div *ngIf="reportePage == 3" class="w-100 text-center d-block my-auto">
        <h3 class="c-blue">El Curso no cuenta con Asignaturas</h3>
    </div>
</nz-layout>
