<div nz-row>


  <div class="content-left" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18" style="padding-left:50px;padding-right: 50px;padding-bottom: 18px">

    <div >
      <p class="negrita">Unidad 1</p>
    </div>

    <div class="content-left-bottom" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="4" *ngFor="let bloque of bloques; let i = index">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
          <nz-card-meta
            [nzTitle]="bloque.bloque_titulo"
          ></nz-card-meta>
          <div nz-row style="margin-top: 16px">
            <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20" nzXXl="20">
              <p style="margin: 0; font-size: 12px;">Activar/Desactivar</p>
            </div>
            <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzXXl="4">
              <nz-switch nzSize="small" [ngModel]="bloque.estado" ></nz-switch>
            </div>
          </div>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" [src]="bloque.bloque_imagen" />
        </ng-template>
      </div>
    </div>
  </div>


  <div class="content-right" nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" >
    <p>Otras Unidades</p>
    <div class="content-right-bottom">
      <nz-card class="borde-card" >
        <p class="negrita" >Unidad 1</p>
        <p class="cursiva" >6 Lecciones asignadas</p>
      </nz-card>
    </div>
  </div>
</div>
