<nz-layout>
  <nz-layout>
    <nz-content class="content-left">
      <div class="row">
        <div class="col">
          <span class="text-subheader bd-invisible"><strong>{{ unidad.nombre }}</strong></span>
          <span class="px-2">{{ curso.nombre }} <i class="fas fa-arrow-right px-2"></i></span>
          <span class="px-3">{{ asignatura.nombre }}</span>
        </div>
        <div class="col-3">
          <button style="color: rgba(0,0,0,0.5); float: right;" nz-button nzType="link" nzSize="small" (click)="backToCourses()">
            <i nz-icon nzType="left"></i> Volver al panel
          </button>
        </div>
      </div>
      <div *ngIf="loading == 1" class="content-left-bottom" nz-row
        [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24, xl: 24, xxl: 24 }">
        <div class="mr-auto" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" nzXXl="6"
          *ngFor="let bloque of bloques; let i = index">
          <nz-card [nzCover]="coverTemplate" style="margin-bottom: 18px" class="mr-auto">
            <p class="truncar-texto" style="margin-top: 5px;">{{ bloque.bloque_titulo }} </p>
            <div nz-row style="margin-top: 16px">
              <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20" nzXXl="20">
                <p style=" font-size: 10px; color: rgba(0,0,0,0.35)">Activar/Desactivar</p>
              </div>
              <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzXXl="4">
                <nz-switch nzSize="small" [ngModel]="bloque.estado" (click)="cambiarEstadoBloqueGrupo(bloque)">
                </nz-switch>
              </div>
            </div>
          </nz-card>
          <ng-template #coverTemplate class="contenedor">
            <div (click)="goToLeccion(bloque)" class="image-wrapper">
              <img alt="example" [src]="bloque.bloque_imagen" style="cursor: pointer;" />
              <!--<button class="btn btnPlay-leccion">
                <i class="far fa-play-circle"></i>
              </button>-->
            </div>
          </ng-template>
        </div>
      </div>
    </nz-content>
    <nz-content class="loading">
      <div class="w-100 text-center d-block my-auto" *ngIf="loading == 0">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        <br>
        <h3 class="c-blue">Cargando ...</h3>
      </div>
    </nz-content>
  </nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0" nzTheme="light"
    nzWidth="250px" style="border-left: rgba(0,0,0,0.5) 0.5px solid;">
    <div class="content-right">
      <div style="padding-top: 5px">
        <p>Otras Unidades</p>
      </div>
      <div class="content-right-bottom">
        <nz-card nzHoverable class="borde-card" *ngFor="let grupo of grupos; let i = index"
          (click)="goToUnidad(grupo)">
          <p class="negrita">{{ grupo.grupo_nombre }}</p>
          <p class="cursiva">{{ grupo.cant_bloques }} Lecciones asignadas</p>
        </nz-card>
      </div>
    </div>
  </nz-sider>
</nz-layout>
