.content-left{
  padding-top: 40px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 18px
}

.content-right{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  background-color: white
}

.content-right-bottom{
  padding-top: 24px;
}

.content-left-bottom{
  padding-top: 24px;
}

.content-left-top{

}

p {
  margin: 0;
}

::ng-deep nz-card div.ant-card-body {
  padding-top: 8px;
  padding-bottom: 8px;
}


.borde-card
{
  border-left: #f2c94c 5px solid;
  margin-bottom: 18px
}


.negrita{
  font-weight: bold;
}

.cursiva{
  font-style: italic;
}

.card{
   margin-bottom: 18px;
 }
h6 {
  margin: 0;
}
