<nz-page-header>
    <nz-page-header-title>Usuarios</nz-page-header-title>
    <nz-page-header-extra>
        <button type="button" nz-button nzSize="large" nzType="primary" (click)="openModal('create')">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            Agregar Usuario
        </button>
    </nz-page-header-extra>
</nz-page-header>
<nz-layout class="inner-layout">
    <nz-card [nzExtra]="searchTemplate">
        <nz-table nzShowPagination="false" #usersTable [nzFooter]="tableFooter" [nzData]="users" [nzLoading]="loading">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>RUT</th>
                    <th>Correo electrónico</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of usersTable.data">
                    <td>{{ data.funcionario_id }}</td>
                    <td>{{ data.persona_nombre }}</td>
                    <td>{{ data.persona_apellido }}</td>
                    <td>{{ data.persona_rut }}</td>
                    <td>{{ data.persona_email }}</td>
                    <td>
                        <span *ngFor="let rol of data.roles; let i = index">
                            <ng-template [ngIf]="i === 0">{{ rol.rol_nombre }}</ng-template>
                            <ng-template [ngIf]="i !== 0"> - {{ rol.rol_nombre }}</ng-template>
                        </span>
                    </td>
                    <td>
                        <i nz-icon nzType="edit" nzTheme="outline" (click)="setUser(data)"></i>
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </td>
                </tr>
            </tbody>
            <ng-template #tableFooter>
                <ng-template [ngIf]="usersData.length === 0">
                    No hay profesores activos
                </ng-template>
                <ng-template [ngIf]="usersData.length === 1">
                    1 Profesor activo
                </ng-template>
                <ng-template [ngIf]="usersData.length > 1">
                    {{ usersData.length  }} Usuarios activos
                </ng-template>
            </ng-template>
        </nz-table>
        <ng-template #searchTemplate>
            <label class="search-label">Buscar:</label>
            <input class="search-input" nz-input [(ngModel)]="inputSearch" placeholder="" (ngModelChange)="search()" />
        </ng-template>
    </nz-card>
</nz-layout>

<nz-modal [(nzVisible)]="userModal" nzWrapClassName="vertical-center-modal" nzTitle="Nuevo Usuario" nzOkText="Enviar"
    nzCancelText="Cancelar" [nzContent]="modalContent" [nzFooter]="modalFooter" nzWidth="600"
    (nzOnCancel)="closeModal('user')">
    <ng-template #modalContent>
        <form [formGroup]="userForm" autocomplete="off">
            <div class="modal-container">
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">RUT</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="rut" placeholder="RUT" (keyup)="formateaRut()"/>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Nombres</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="nombre" placeholder="Nombres" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Apellidos</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="apellido" placeholder="Apellidos" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Género</label>
                    </div>
                    <div nz-col nzMd="16">
                        <nz-select formControlName="genero" class="w-100" nzAllowClear nzPlaceHolder="Generos">
                            <nz-option *ngFor="let genero of generos; let i = index" [nzValue]="genero.id"
                                [nzLabel]="genero.descripcion">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Email</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="email" placeholder="Email" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Teléfono</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="telefono" placeholder="Teléfono" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Dirección</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="direccion" placeholder="Dirección" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Nacionalidad</label>
                    </div>
                    <div nz-col nzMd="16">
                        <input nz-input formControlName="nacionalidad" placeholder="Nacionalidad" />
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzMd="8">
                        <label class="form-label">Roles</label>
                    </div>
                    <div nz-col nzMd="16">
                        <nz-select formControlName="roles" class="w-100" nzMode="multiple" nzAllowClear
                            nzPlaceHolder="Roles">
                            <nz-option *ngFor="let rol of roles; let i = index" [nzValue]="rol.id"
                                [nzLabel]="rol.rol_nombre">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzSize="large" style="background-color: #e8e8e8;"
            (click)="closeModal('user')">Cancelar</button>
        <button nz-button nzSize="large" style="background-color: #e8e8e8;"
            (click)="clearForm()">Limpiar</button>
        <button nz-button nzSize="large" nzType="primary" (click)="saveUser()" [disabled]="userForm.invalid">
            {{formType}}
        </button>
    </ng-template>
</nz-modal>