<nz-page-header>
    <nz-page-header-title>Usuarios</nz-page-header-title>
    <nz-page-header-extra>
        <button type="button" nz-button nzSize="large" nzType="primary" (click)="openModal('create')">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            Agregar Usuario
        </button>
    </nz-page-header-extra>
</nz-page-header>
<nz-layout class="inner-layout">
    <nz-table style="width: 100%;" #pruebasTable [nzData]="users" nzPageSize="5" [nzLoading]="pruebasLoading">
        <thead>
            <tr>
                <th class="first-th">ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>RUT</th>
                <th>Correo electrónico</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of pruebasTable.data">
                <td class="first-td">{{ data.prueba_id }}</td>
                <td>{{ data.simce_descripcion }}</td>
                <td>{{ data.curso_nombre }}</td>
                <td>{{ data.estado_prueba }}</td>
                <td>
                    <i *ngIf="data.estado_id === 1" class="fa fa-play vertical-line"
                        style="color: rgba(65, 156, 85, 0.911)"></i>
                    <i *ngIf="data.estado_id === 2" class="fa fa-stop vertical-line"
                        style="color: rgba(255, 101, 91, 0.911);"></i>
                    <i nz-icon nzType="file-search" class="vertical-line"></i>
                    <i nz-icon nzType="unlock" nzTheme="outline" class="vertical-line"
                        style="color: rgba(202, 175, 18, 0.89)"></i>
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-layout>