<div class="content">
    <div class="panel-content">
        <!--<form *ngIf="step == 1" nz-form [formGroup]="codeForm" (ngSubmit)="validarCodigo()" autocomplete="off">
            <div class="inputs">
                <strong class="t-16 mb-3">RESTABLECE TU CONTRASEÑA</strong>
                <input formControlName="codigo" type="text" nz-input placeholder="Código" />
                <button class="mt-3" type="submit" nzBlock nz-button nzSize="large" nzType="primary">
                    INGRESAR CÓDIGO
                </button>
            </div>
        </form>-->
        <form *ngIf="step == 1" nz-form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" autocomplete="off">
            <div class="inputs">
                <strong class="t-16 mb-2">RESTABLECE TU CONTRASEÑA</strong>
                <label>Nueva contraseña</label>
                <input type="password" nz-input formControlName="password1" placeholder="Contraseña" />

                <label>Confirmar contraseña</label>
                <input type="password" nz-input formControlName="password2" placeholder="Contraseña" />
                <button class="mt-3" type="submit" nzBlock nz-button nzSize="large" nzType="primary"
                    [disabled]="newPasswordForm.invalid">
                    RESTABLECER CONTRASEÑA
                </button>
            </div>
        </form>
        <div *ngIf="step == 2">
            <strong class="t-16 c-black">¡CONTRASEÑA CAMBIADA!</strong>
            <p class="c-black my-2">
                Has cambiado con éxito tu contraseña.
            </p>
            <div class="col d-block my-1">
                <a class="t-16 underlineHover" href="/auth/login">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>