<div mat-dialog-content *ngIf="data.video == '1'">
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="http://player.vimeo.com/video/380337123?autoplay=1"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen></iframe>
    </div>
    <script src="http://player.vimeo.com/api/player.js"></script>
</div>
<div mat-dialog-content *ngIf="data.video == '2'">
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/386029747?autoplay=1"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
</div>
<div mat-dialog-content *ngIf="data.video == '3'">
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/386029707?autoplay=1"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen></iframe>
    </div>
    <!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
</div>