<nz-page-header>
  <nz-page-header-title>Administración de cursos</nz-page-header-title>
</nz-page-header>

<nz-layout class="inner-layout">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let nivel of niveles; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ nivel.nivel_descripcion }}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <nz-table #borderedTable nzBordered nzFooter="" nzSize="middle"  [nzData]="nivel.asignaturas" nzShowPagination="false">
        <thead>
        <tr>
          <th>Asignaturas / Secciones</th>
          <th *ngFor="let curso of nivel.cursos; let i = index">{{ curso.seccion_nombre }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let asignaturas of borderedTable.data">
          <td>{{ asignaturas.asignatura_nombre }}</td>
          <td *ngFor="let curso of asignaturas.cursos"> {{ curso.seccion_nombre }}</td>
        </tr>
        </tbody>
      </nz-table>
    </mat-expansion-panel>


  </mat-accordion>
</nz-layout>
