.c-first {
    color: #4cbcd4 !important;
}

.c-first-dark {
    color: #2e9bb2 !important;
}

.c-second {
    color: #25A8B4;
}

.c-third {
    color: #ea9d5f !important;
}

.c-four {
    color: #f27c7e !important;
}

.c-white {
    color: #fff !important;
}

.c-black {
    color: #000000 !important;
}

.c-red {
    color: red !important;
}

.c-orange {
    color: #FF9E00 !important;
}