.game-layout {
    padding-top: 64px;
    min-height: 100vh;
}

.game-content {
    background-image: url('../../../../../assets/images/student/fondo.png')!important;
    background-color: chocolate!important;
}

.game-footer {
    background-color: #20aac8!important;
    width: 1600px;
    height: 46px;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media screen and (max-width: 1700px) {
    .game-footer {
        width: 1400px;
    }
}

@media screen and (max-width: 1500px) {
    .game-footer {
        width: 1000px;
    }
}

@media screen and (max-width: 1200px) {
    .game-footer {
        width: 889px;
    }
}

@media screen and (max-width: 890px) {
    .game-footer {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .game-footer {
        width: 651px;
    }
}

@media screen and (max-width: 651px) {
    .game-footer {
        width: 500px; 
    }
}

@media screen and (max-width: 501px) {
    .game-footer {
        width: 375px; 
    }
}

.btn-full {
    background-image: url('../../../../../assets/images/student/nav.png');
    margin: 3px 6px;
}

.btn-exit {
    background-image: url('../../../../../assets/images/student/exit.png');
    margin: 3px 6px;
}

.lessons {
    margin: auto;
    //padding: 20px;
    margin-top: 2px;
    margin-bottom: 1px;
    font-family: "Luckiest Guy";
    font-size: 38px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    letter-spacing: 1.2px;
    text-align: center;
  }