<app-header></app-header>
<button id="btnCollapse" nz-button nzType="primary" (click)="toggleCollapsed()" class="d-none">
    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
</button>
<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="190px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-group nzTitle="Principal"></li>
            <li nz-submenu nzOpen nzIcon="user" nzTitle="Cursos">
                <ul>
                    <li *ngFor="let curso of cursos" nz-menu-item nzMatchRouter (click)="changeRoute(curso.curso_id)">
                        <a [routerLink]="['/pages/curso/' + curso.curso_id]">
                            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                            <span>{{ curso.curso_nombre }}</span>
                        </a>
                    </li>
                    <!-- <li nz-menu-item nzMatchRouter (click)="changeRoute(2)">
                        <a [routerLink]="['/pages/curso/2']">
                            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                            <span>2° Básico</span>
                        </a>
                    </li>
                    <li nz-menu-item nzMatchRouter (click)="changeRoute(3)">
                        <a [routerLink]="['/pages/curso/3']">
                            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                            <span>3° Básico</span>
                        </a>
                    </li>
                    <li nz-menu-item nzMatchRouter (click)="changeRoute(4)">
                        <a [routerLink]="['/pages/curso/4']">
                            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                            <span>4° Básico</span>
                        </a>
                    </li> -->
                </ul>
            </li>
            <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Reportes Analíticos' : ''"
                nzMatchRouter>
                <a [routerLink]="['/pages/reportes']">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                    <span>Reportes Analíticos</span>
                </a>
            </li>
            <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Evaluación SIMCE' : ''"
                nzMatchRouter>
                <a [routerLink]="['/pages/simce']">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-unfold'"></i>
                    <span>Evaluación SIMCE</span>
                </a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="content-layout">
        <nz-content>
            <!-- <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>List</nz-breadcrumb-item>
                <nz-breadcrumb-item>App</nz-breadcrumb-item>
            </nz-breadcrumb>
            Example single danger button -->

            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>