::ng-deep app-pages {
    min-width: 100%;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    height: 100%;
    border-right: 0;
    padding-top: 64px;
}

.menu-sidebar {
    position: relative !important;
    z-index: 10 !important;
    min-height: 100vh !important;
    box-shadow: 2px 0 6px rgba(0,21,41,.35) !important;
    background-color: #ffffff;
    margin-top: 62px;
  }

.content-layout {
    //padding: 0 24px 24px;
    //padding: 0 24px;
    margin-top: 64px;
}

::ng-deep nz-breadcrumb {
    margin: 20px 0;
}

::ng-deep nz-content {
    background: #f4f4f4;
    min-height: 280px;
}

.anticon {
    vertical-align: 1.5px!important;
}