::ng-deep app-pages {
    min-width: 100%;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    height: 100%;
    border-right: 0;
    padding-top: 64px;
}

.border-right {
    border-right: 1px solid #a4a4a4 !important;
}

.content-layout {
    padding-top: 48px;
    height: 100vh;
}

::ng-deep nz-breadcrumb {
    margin: 20px 0;
}

::ng-deep nz-content {
    background: #f4f4f4;
    min-height: 280px;
}

.anticon {
    vertical-align: 1.5px!important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-inline .ant-menu-item::after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 0px solid #1890ff;
    border-left: 4px solid #1890ff;
}
.ant-menu-inline .ant-menu-item::before {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 0px solid #1890ff;
    border-left: 4px solid #1890ff;
    border-radius: 50%;
}

.ant-layout-sider { background: #ffffff !important; }
.ant-layout { background: #f4f4f4 !important;}

.sub-menu-route {
    padding-left: 40px!important;
}

::ng-deep .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none; 
}

::ng-deep .ant-menu-item-selected, ::ng-deep .ant-menu-item-selected > a {
    color: rgba(0, 0, 0, 0.65)!important;
}

::ng-deep .ant-drawer-body {
    padding: 0px;
}

.pages-drawer {
    padding-top: 48px;
    color: #000000a6;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: calc(100%)!important;
}