<a id="changeRoute" class="d-none" (click)="destruir()"> a</a>
<nz-layout class="left-layout">
    <nz-sider class="submenu-sidebar mt-0">
        <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" nz-input placeholder="Buscar Asignatura" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
        </ng-template>
        <ul nz-menu nzMode="inline" class="bd-top">
            <li class="item-submenu d-block my-auto" nz-menu-item nzMatchRouter
                *ngFor="let asign of asignaturas | filter:searchValue" (click)="openAsignatura(asign)">
                <p class="m-0">{{ asign.materia_descripcion }}</p>
            </li>
            <li *ngIf="!asignaturas" class="py-2 bg-gray">
                <p class="m-0 py-2 text-center">No hay asignaturas que mostrar</p>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="right-layout">
        <div class="header bg-subheader p-3">
            <div class="row m-0">
                <div class="col-6">
                    <div>
                        <span class="text-subheader bd-invisible"><strong>{{ selectAsginatura }}</strong></span>
                        <span class="px-3">{{ cursoNombre }}</span>
                        <!-- <i class="fas fa-arrow-right"></i> -->
                    </div>
                </div>
                <div *ngIf="unidades?.length > 0" class="col-6 text-right">
                    <button class="btn btn-unidad mr-3" (click)="editarUnidades()">
                        <i class="fas fa-cog bd-invisible pr-1"></i>
                        <span class="pl-1" *ngIf="!editUnidades">Editar Unidades</span>
                        <span class="pl-1" *ngIf="editUnidades">Guardar Cambios</span>
                    </button>
                    <button class="btn btn-unidad mr-5" (click)="showModal()">
                        <i class="fas fa-qrcode bd-invisible"></i> Código de Acceso
                    </button>
                </div>
                <div class="col-12">
                    <span>6 Unidades</span>
                </div>
            </div>
        </div>
        <div class="unidades pt-5">
            <div *ngIf="unidades" cdkDropListGroup class="row m-0">
                <div *ngFor="let u of unidades; let i = index" class="col-3 mb-3">
                    <div class="card-content bg-gray p-0">
                        <p class="c-black py-1 pl-3 m-0 t-12">{{ u.grupo_nombre }}</p>
                        <div class="content-card-unidad bg-white">
                            <ul class="list-group px-0" *ngIf="u.bloques" cdkDropList [cdkDropListData]="u.bloques"
                                (cdkDropListDropped)="drop($event)">
                                <li *ngFor="let b of u.bloques; let j = index" class="list-group-item p-1" cdkDrag
                                    [cdkDragDisabled]="!editUnidades">
                                    <div class="row m-0">
                                        <div class="col px-0 pl-1 t-12">
                                            {{ b.bloque_titulo }}
                                        </div>
                                        <div class="col-2 p-0 d-block my-auto">
                                            <nz-switch disabled nzSize="small" [ngModel]="b.bloque_estado"></nz-switch>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row m-0 p-2 footerUnity">
                                <div class="col text-center px-1">
                                    <button class="btn btn-unidad btn-sm w-100 t-12 py-2b" (click)="goToUnidad(u.id)">
                                        Entrar
                                    </button>
                                </div>
                                <div class="col text-center px-1">
                                    <button class="btn btn-out-unidad btn-sm w-100 t-12 py-2b">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!unidades || unidades?.length == 0" class="">
                <div class="row m-0 mx-5">
                    <div class="col">
                        <div class="row m-0 mx-5">
                            <div class="col-2 px-0 text-right col-step">
                                1
                            </div>
                            <div class="col-10 card-content col-step-content">
                                <p class="pl-3">Elige un Curso</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row m-0 mx-5">
                            <div class="col-2 px-0 text-right col-step">
                                2
                            </div>
                            <div class="col-10 card-content col-step-content">
                                <p class="pl-3">Elige una Asignatura</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <nz-steps [nzCurrent]="1" nzProgressDot>
                            <nz-step nzTitle="" nzDescription=""></nz-step>
                            <nz-step nzTitle="" nzDescription=""></nz-step>
                            <nz-step nzTitle="" nzDescription=""></nz-step>
                          </nz-steps>
                    </div>
                </div>
            </div>
        </div>
    </nz-layout>
</nz-layout>

<nz-modal [(nzVisible)]="modalGetCode" nzTitle="Código de Acceso" (nzOnOk)="handleOk()">
    <div class="card c-code p-3">
        <p class="c-blue m-0">
            {{ codigo }}
        </p>
    </div>
</nz-modal>