<!--<a id="changeRoute" class="d-none" (click)="destruir()"> a</a>-->
<nz-layout class="left-layout">
    <nz-sider class="submenu-sidebar-asignatura mt-0" [nzWidth]="180" *ngIf="resolucion > 768">
        <nz-input-group [nzSuffix]="suffixIcon" class="p-0">
            <input type="text" class="p-0" nz-input placeholder="Buscar Asignatura" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
        </ng-template>
        <ul nz-menu nzMode="inline" class="bd-top">
            <li class="item-submenu d-block my-auto" nz-menu-item nzMatchRouter
                *ngFor="let asign of asignaturas | filter:searchValue" (click)="selectAsignatura(asign)">
                <p class="m-0 truncar-texto">{{ asign.materia_descripcion }}</p>
            </li>
            <li *ngIf="!asignaturas" class="py-2 bg-gray">
                <p class="m-0 py-2 text-center" style="line-height: 15px;">No hay asignaturas</p>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="right-layout">
        <div class="header bg-subheader p-3">
            <div nz-row class=" m-0 pl-4">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="4" nzXXl="4" class="my-2"
                    *ngIf="step > 1 && resolucion < 768">
                    <nz-select class="w-100 pl-4 pr-4" [(ngModel)]="selecAsignatura"
                        (ngModelChange)="selectAsignatura($event)" nzAllowClear nzPlaceHolder="Asignaturas">
                        <nz-option *ngFor="let asignatura of asignaturas; let i = index" [nzValue]="asignatura"
                            [nzLabel]="asignatura.materia_descripcion">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6" nzXXl="6" class="my-2" *ngIf="step > 2"
                    style="text-align: center">
                    <h5 class="text-subheader bd-invisible truncar-texto m-0" style="line-height: 1.5;">
                        {{ nombreAsignaturaSeleccionada }}</h5>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6" nzXXl="6" class="my-2" *ngIf="step > 2">
                    <nz-select class="w-100 pl-4 pr-4" [(ngModel)]="selectCurso"
                        (ngModelChange)="selectCursoEvent($event)" nzAllowClear nzPlaceHolder="Seleccione sección">
                        <nz-option *ngFor="let curso of cursos; let i = index" [nzValue]="curso"
                            [nzLabel]="'Sección ' + curso.seccion_nombre" nzPlaceHolder="Secciones">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12" class=" my-2"
                    *ngIf="unidades?.length > 0" style="text-align: center">
                    <button class="btn btn-unidad mr-3" (click)="editarUnidades()">
                        <i class="fas fa-cog bd-invisible pr-1"></i>
                        <span class="pl-1" *ngIf="!editUnidades">Editar Unidades</span>
                        <span class="pl-1" *ngIf="editUnidades">Guardar Cambios</span>
                    </button>
                    <button class="btn btn-unidad mr-5" nz-popover nzPopoverTrigger="click" nzPopoverPlacement="bottom"
                        [nzPopoverContent]="codeTemplate">
                        <i class="fas fa-qrcode bd-invisible"></i> Código de Acceso
                    </button>
                    <ng-template #codeTemplate>
                        <div class="text-center bb-yellow bb-radius-4 px-3 py-2">
                            <i nz-icon nzType="lock" nzTheme="outline" class="lock-icon"></i>
                            <span class="code"> {{ codigo }}</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="unidades pt-5">
            <div *ngIf="step == 4" cdkDropListGroup class="row m-0">
                <div *ngFor="let u of unidades; let i = index" class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-3">
                    <div class="card-content bg-gray p-0">
                        <p class="c-black py-1 pl-3 m-0 t-12">{{ u.grupo_nombre }}</p>
                        <div class="content-card-unidad bg-white">
                            <ul class="list-group px-0" *ngIf="u.bloques" cdkDropList [cdkDropListData]="u.bloques"
                                (cdkDropListDropped)="drop($event)">
                                <li *ngFor="let b of u.bloques; let j = index" class="list-group-item p-1" cdkDrag
                                    [cdkDragDisabled]="!editUnidades">
                                    <div class="row m-0">
                                        <div class="col px-0 pl-1 t-12"
                                            [ngClass]="{'pointer': editUnidades, 'no-pointer':!editUnidades }">
                                            <span style="font-size: 10px">{{ b.bloque_titulo }}</span>
                                        </div>
                                        <div class="col-2 p-0 d-block my-auto">
                                            <nz-switch nzSize="small" [ngModel]="b.estado"
                                                (click)="cambiarEstadoBloqueGrupo(b, u.grupo_id)"></nz-switch>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row m-0 p-2 footerUnity">
                                <div class="col text-center px-1">
                                    <button class="btn btn-unidad btn-sm w-100 t-12 py-2b" (click)="goToUnidad(u)">
                                        Entrar
                                    </button>
                                </div>
                                <div class="col text-center px-1">
                                    <button class="btn btn-out-unidad btn-sm w-100 t-12 py-2b">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="step < 4" class="pl-5">
                <!-- <div class="px-5">
                    <nz-steps [nzCurrent]="step - 1 ">
                        <nz-step nzTitle="Elige un Curso" ></nz-step>
                        <nz-step nzTitle="Elige una asignatura" > </nz-step>
                        <nz-step nzTitle="Elige una sección" ></nz-step>
                    </nz-steps>
                </div> -->

                <div class="row m-0 ml-3 justify-content-center">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row m-0 mx-2" *ngIf="resolucion > 768 || (resolucion < 768 && step == 1)">
                            <div class="col-2 px-0 text-right col-step">
                                <p class="active" *ngIf="step == 1">1</p>
                                <p class="afterActive" *ngIf="step > 1">1</p>
                            </div>
                            <div class="col-10 card-content-steps col-step-content">
                                <h6 class="pl-3 pt-2 " *ngIf="step == 1">Elige un Curso</h6>
                                <h6 class="pl-3 pt-2 " style="color: rgba(0, 0, 0, 0.3)" *ngIf="step > 1">Elige un Curso
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                        <div class="row m-0 mx-1" *ngIf="resolucion > 768 || (resolucion < 768 && step == 2)">
                            <div class="col-2 px-0 text-right col-step">
                                <p class="desactive" *ngIf="step == 1">2</p>
                                <p class="active" *ngIf="step == 2">2</p>
                                <p class="afterActive" *ngIf="step == 3">2</p>
                            </div>
                            <div class="col-10 card-content-steps col-step-content">
                                <h6 class="pl-3 pt-2 " style="color: rgba(0, 0, 0, 0.1)" *ngIf="step == 1">Elige una
                                    Asignatura</h6>
                                <h6 class="pl-3 pt-2 " *ngIf="step == 2">Elige una Asignatura</h6>
                                <h6 class="pl-3 pt-2 " style="color: rgba(0, 0, 0, 0.3)" *ngIf="step == 3">Elige una
                                    Asignatura</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row m-0 mx-1" *ngIf="resolucion > 768 || (resolucion < 768 && step == 3)">
                            <div class="col-2 px-0 text-right col-step">
                                <p class="desactive" *ngIf="step < 3">3</p>
                                <p class="active" *ngIf="step == 3">3</p>
                            </div>
                            <div class="col-10 card-content-steps col-step-content">
                                <h6 class="pl-3 pt-2 " style="color: rgba(0, 0, 0, 0.1)" *ngIf="step < 3">Elige una
                                    Sección</h6>
                                <h6 class="pl-3 pt-2 " *ngIf="step == 3">Elige una Sección</h6>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-12 row mt-4 p-0">
                        <div class="col p-0" style="left: -4%; width: 4%;">
                            <div class="point-blue ml-auto"></div>
                        </div>
                        <div class="col-12 d-block my-auto p-0" style="left: -5%;min-width: 100%;">
                            <div class="progress">
                                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="12"
                                    aria-valuemin="12" style="width: 12%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col p-0" style="left: -74%;max-width: 4%;">
                            <div id="pointTwo" class="point-blue mr-auto"></div>
                        </div>
                        <div class="col p-0" style="left: -43%;">
                            <div class="point-blank mr-auto"></div>
                        </div>
                    </div>-->
                </div>
            </div>

            <!-- <nz-alert *ngIf="flagUnidades == 1" nzType="warning" nzMessage="Curso"
                nzDescription="El funcionario no cuenta con cursos asociados">
            </nz-alert> -->
        </div>
    </nz-layout>
</nz-layout>

<nz-modal [(nzVisible)]="modalGetCode" nzTitle="Código de Acceso" (nzOnOk)="handleOk()" (nzOnCancel)="handleOk()">
    <div class="card c-code p-3">
        <p class="c-blue m-0">
            {{ codigo }}
        </p>
    </div>
</nz-modal>