<div class="wrapper fadeInDown">
    <div id="formContent" class="">
        <!-- Tabs Titles
        <h2 class="active"> Iniciar Sesión </h2> -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img id="kidsLogo" src="../../../assets/images/logo/kids-logo.png" alt="AcamyKids" />
        </div>

        <router-outlet></router-outlet>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#"> Olvidé mi Contraseña </a>
        </div>

    </div>
</div>