<div class="wrapper fadeInDown">
    <div id="formContent" class="">
        <!-- Tabs Titles -->
        <h2 class="active"> Iniciar Sesión </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../assets/logo/logo-horizontal.png" height="80px" id="icon" alt="User Icon" />
        </div>

        <router-outlet></router-outlet>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>