<nz-page-header>
  <nz-page-header-title>Articulos</nz-page-header-title>
  <nz-page-header-extra>
    <button style="font-size: 12px; font-weight: bold; background-color: #009dee; color: white" type="button" nz-button nzType="primary"  (click)="showModal()">
      <i nz-icon nzType="plus"></i>
      <nz-divider [nzType]="'vertical'" style="margin-left: 0px"></nz-divider>
      Agregar Articulo
    </button>
  </nz-page-header-extra>
</nz-page-header>
<nz-layout class="inner-layout">
  <div *ngFor="let blog of blogs; let i = index">
    <nz-card nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="blog.blog_titulo" [nzDescription]="blog.blog_descripcion"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" [src]="blog.blog_imagen" />
    </ng-template>
  </div>
</nz-layout>


<nz-modal [(nzVisible)]="modalAgregarBlog" nzTitle="Agregar Actitud" (nzOnCancel)="handleCancelAgregar()" (nzOnOk)="createAttitude()">
  <form nz-form [formGroup]="blogForm" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="blog_titulo">Nombre</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Error!">
        <input nz-input formControlName="blog_titulo" id="blog_titulo" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="blog_imagen">Imagen</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Error!">
        <input nz-input formControlName="blog_imagen" id="blog_imagen" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="blog_descripcion">Descripcion</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Error!">
        <input nz-input formControlName="blog_descripcion" id="blog_descripcion" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
