<div class="content">
    <div class="panel-content">
        <form nz-form [formGroup]="activeAccountForm" (ngSubmit)="verifiedAccount()" autocomplete="off">
            <div class="inputs">
                <label>Contraseña</label>
                <input type="password" nz-input formControlName="password1" placeholder="Contraseña" />

                <label>Repetir Contraseña</label>
                <input type="password" nz-input formControlName="password2" placeholder="Contraseña" />
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" nz-button nzSize="large" nzType="primary">
                        Activar Cuenta
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>