<div class="content">
    <div class="panel-content">
        <form nz-form [formGroup]="activeAccountForm" (ngSubmit)="verifiedAccount()" autocomplete="off">
            <div class="inputs">
                <label>Contraseña</label>
                <input type="password" nz-input formControlName="password1" placeholder="Contraseña" />

                <label>Repetir contraseña</label>
                <input type="password" nz-input formControlName="password2" placeholder="Contraseña" />
                <button class="mt-3" type="submit" nzBlock nz-button nzSize="large" nzType="primary"
                    [disabled]="activeAccountForm.invalid">
                    ACTIVAR CUENTA
                </button>
            </div>
        </form>
    </div>
</div>