
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kidspro-primary: mat-palette($mat-indigo);
$kidspro-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kidspro-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kidspro-theme: mat-light-theme($kidspro-primary, $kidspro-accent, $kidspro-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kidspro-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './assets/scss/header.component.scss';
@import './assets/scss/button.component.scss';
@import './assets/scss/color.component.scss';
@import './assets/scss/text.size.component.scss';
@import './assets/scss/border.component.scss';
@import './assets/scss/background.component.scss';
@import './assets/scss/sider.component.scss';
@import './assets/scss/card.component.scss';

.ant-tabs-nav div {
    width: 100%;
}

.ant-tabs-tab-arrow-show {
    display: none !important;
}

.ant-tabs-nav-container-scrolling {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ant-tabs-tab {
    width: 50% !important;
    font-size: 15.8px;
}

.anticon { 
    vertical-align: 2px !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    margin-right: 0px;
    background-color: #2f80ed;
    color: #fff;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    background-color: #fff;
    color: #2f80ed;
}



.ant-modal-header {
    background-color: #2f80ed;
    color: #fff;
}

.ant-modal-body {
    padding: 36px;
}
  
.ant-modal-footer {
    background-color: #e8e8e8;
    padding: 20px;
}
  
.ant-modal-title {
    color: #fff;
    margin-left: 10px;
}

.ant-modal-close-x {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}