<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'md'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/system/pages/establishment">
          <i class="fas fa-school"></i>
          <span> Establecimientos</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/system/pages/subject">
          <i class="fas fa-school"></i>
          <span> Asignaturas</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
