<nz-page-header>
  <nz-page-header-title>Repositorio Sistema</nz-page-header-title>
  <nz-page-header-extra>
    <button style="font-size: 12px; font-weight: bold; background-color: #009dee; color: white" type="button" nz-button nzType="primary"  (click)="openModal('crearRepositorio')">
      <i nz-icon nzType="plus"></i>
      <nz-divider [nzType]="'vertical'" style="margin-left: 0px"></nz-divider>
      Agregar Repositorio
    </button>
  </nz-page-header-extra>
</nz-page-header>




<nz-layout class="inner-layout">
  <div class="content-sistema mt-3 px-5" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24, xl: 24, xxl: 24 }">
    <div class="mr-auto pt-3" nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="4" nzXXl="4"
         *ngFor="let repositorio of repositoriosSistema; let i = index">
      <nz-card  class="mr-auto p-0 card" style="padding: 0">
        <div class="" nz-row >
          <div class="text-right " nz-col nzSpan="24">
            <button  style="color: #56CCF2; float: right; " nz-button nzType="link"  (click)="delete(repositorio.repositorio_id)">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <div class="content-icono text-center  pb-3" nz-col nzSpan="24">
            <i nz-icon [nzType]="repositorio.tipo_repositorio_icono" nzTheme="fill" [style]="'font-size: 40px;color: ' + repositorio.tipo_repositorio_color"></i>
          </div>
          <div class="text-center" nz-col nzSpan="24">
            <p class="negrita truncar-texto " style="font-size: 11px">{{ repositorio.repositorio_name }}</p>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</nz-layout>



<nz-modal [(nzVisible)]="modalCrearRepositorio" nzWrapClassName="vertical-center-modal" nzTitle="Repositorio" nzOkText="Crear"
          nzCancelText="Cancelar" [nzContent]="modalContent" [nzFooter]="modalFooter" nzWidth="600"
          (nzOnCancel)="closeModal('crearRepositorio')" >
  <ng-template #modalContent>
    <form [formGroup]="repositorioForm" autocomplete="off">
      <div class="modal-container">
        <div nz-row>
          <div nz-col nzMd="8">
            <label class="form-label">Tipo de archivo:</label>
          </div>
          <div nz-col nzMd="16">
            <nz-select formControlName="tipoArchivo" class="w-100" nzAllowClear nzPlaceHolder="Seleccione un tipo de archivo">
              <nz-option *ngFor="let tipo of tipoArchivo; let i = index" [nzValue]="tipo.tipo_id"
                         [nzLabel]="tipo.nombre">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <nz-divider ></nz-divider>
        <div nz-row>
          <div nz-col nzMd="8">
            <label class="form-label">Nombre archivo:</label>
          </div>
          <div nz-col nzMd="16">
            <input nz-input formControlName="nombre" placeholder="Nombre" />
          </div>
        </div>
        <nz-divider ></nz-divider>
        <div nz-row>
          <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop >
            <form enctype="multipart/form-data" name="fileForm">
              <input id="fileInput" hidden type="file" #fileInput (change)="procesarArchivo($event)">
            </form>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter style="border-bottom: 4px solid #009dee;">
    <button nz-button nzSize="large" style="background-color: #e8e8e8;"
            (click)="closeModal('crearRepositorio')">Cancelar</button>
    <button nz-button nzSize="large" nzType="primary" (click)="saveRepositorio()" [disabled]="repositorioForm.invalid">
      Guardar
    </button>
  </ng-template>
</nz-modal>
