.layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
margin-bottom: 40px;
}

.inner-content {
  margin: 40px 15px 0 15px ;
}

nz-footer {
  text-align: center;
}

.inner-content-right{
  background-color: #fff;
}


.negrita{
  font-weight: bold;
}


p {
  margin: 0;
}

.border-full {
  border: rgba(0,0,0,0.3) 0.4px solid;
}

.border-bottom {
  border-bottom: rgba(0,0,0,0.3) 0.4px solid;
}

.padding-title{
  padding: 10px 30px;
}

.vista-previa-image{
  padding: 30px 40px;
}

.lista-repositorio-sistema{
  padding: 20px 10px 0 35px;
}

.descripcion-documento{
  font-size: 10px;
}

#cardVideo { height: 90%; max-height: 538px;}
.pointer { cursor: pointer !important; }

.video{
  height: 450px;
}

@media only screen and (min-width: 200px) {
  .video{
    height: 450px;
  }
}

@media only screen and (min-width: 400px) {
  .video{
    height: 450px;
  }
}

@media only screen and (min-width: 600px) {
  .video{
    height: 450px;
  }
}

@media only screen and (min-width: 800px) {
  .video{
    height: 450px;
  }
}

@media only screen and (min-width: 1001px) {
  .video{
    height: 450px;
  }
}

@media only screen and (min-width: 1201px) {
  .video{
    height: 300px;
  }
}

@media only screen and (min-width: 1401px) {
  .video{
    height: 370px;
  }
}

@media only screen and (min-width: 1601px) {
  .video{
    height: 400px;
  }
}

@media only screen and (min-width: 1901px) {
  .video{
    height: 500px;
  }
}
@media only screen and (min-width: 2101px) {
  .video{
    height: 600px;
  }
}

.datos-bloque{
  padding-top: 40px;
}

.cursiva{
  font-style: italic;
}


::ng-deep ul li .ant-menu-item.ant-menu-item-selected {
  color: red;
}

li .ant-menu-item{
  margin: 0;
}
.ant-menu-item{
  margin:0;
}


.truncar-texto {
  overflow:hidden;white-space:nowrap;; text-overflow: ellipsis;
}
