#gamecontainer {
    width: 1000px; 
    height: 562px;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

@media screen and (max-width: 1200px) {
    #gamecontainer {
        width: 889px; 
        height: 500px;
    }
}

@media screen and (max-width: 890px) {
    #gamecontainer {
        width: 768px; 
        height: 432px;
    }
}

@media screen and (max-width: 768px) {
    #gamecontainer {
        width: 651px; 
        height: 366px;
    }
}

@media screen and (max-width: 651px) {
    #gamecontainer {
        width: 500px; 
        height: 281px;
    }
}

@media screen and (max-width: 501px) {
    #gamecontainer {
        width: 375px; 
        height: 211px;
    }
}