::ng-deep .ant-page-header-ghost {
    background-color: rgb(128, 128, 128, .15);
}

::ng-deep .ant-page-header {
    padding: 20px 55px;
}

::ng-deep .ant-card {
    margin-left: 30px;
    margin-bottom: 20px;
}