<nz-page-header>
    <nz-page-header-title>Evaluaciones SIMCE</nz-page-header-title>
    <nz-page-header-extra>
        <app-simce-create></app-simce-create>
    </nz-page-header-extra>
</nz-page-header>
<nz-layout class="inner-layout">
    <h5>Evaluaciones Activas</h5>
    <div nz-row>
        <div nz-col nzSpan="14">
            <nz-card [nzExtra]="searchTemplate">
                <nz-table #pruebasTable [nzData]="pruebas">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of pruebasTable.data">
                            <td>{{ data.prueba_id }}</td>
                            <td>{{ data.simce_descripcion }}</td>
                            <td>{{ data.estado_prueba }}</td>
                            <td>
                                <nz-divider nzType="vertical"></nz-divider>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-card>
            <ng-template #searchTemplate>
                <!-- <label>Buscar:</label> -->
                <input nz-input placeholder="" />
            </ng-template>
        </div>
        <div class="left-card" nz-col nzSpan="10">
            <nz-card>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
            <nz-card>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
    <div nz-row>
    </div>
</nz-layout>
<nz-layout class="inner-layout">
    <h5>Historial de resultados</h5>
    <div nz-row>
        <div nz-col nzSpan="18">
            <nz-card [nzExtra]="searchTemplate">
                <nz-table #pruebasFinalizadasTable [nzData]="pruebasFinalizadas">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Puntaje</th>
                            <th>Inicio</th>
                            <th>Termino</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of pruebasFinalizadasTable.data">
                            <td>{{ data.prueba_id }}</td>
                            <td>{{ data.simce_descripcion }}</td>
                            <td>{{ data.puntaje_simce }}</td>
                            <td>{{ data.inicio }}</td>
                            <td>{{ data.fin }}</td>
                            <td>
                                <nz-divider nzType="vertical"></nz-divider>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-card>
            <ng-template #searchTemplate>
                <!-- <label>Buscar:</label> -->
                <input nz-input placeholder="" />
            </ng-template>
        </div>
        <div class="left-card" nz-col nzSpan="6">
            <nz-card>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
            <nz-card>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
    <div nz-row>
    </div>
</nz-layout>